@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/Merriweather-Bold.ttf');
  font-weight: 700;
}

/** Variables */

:root {
  --black-color: #000;
  --white-color: #fff;
  --gold-color: #bdae82;
}

/***********/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  /*  background-color: var(--black-color); */

  font-family: Inter, sans-serif;
  color: var(--white-color);
}

/** General Styles */

.section {
  padding: 100px 20px 0 20px;
  width: 1440px;
  margin: 0 auto;

  background-color: var(--black-color);
}

.text {
  font-size: 0.9rem;
  line-height: 36px;
  text-align: center;
}

.title {
  font-family: Merriweather, serif;
}

.wrap-title {
  margin: 0 auto;
  width: 50%;

  background: url('./assets/svg/section-title-line.svg') center center no-repeat;
}

.wrap-title__title {
  width: fit-content;
  margin: 0 auto;
  padding: 0 20px;

  background-color: var(--black-color);

  font-size: 40px;
  line-height: 80px;
  color: var(--gold-color);
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.link:hover {
  color: var(--gold-color);
}

.button {
  width: 100%;
  max-width: 220px;
  height: 55px;

  border: none;
  outline: none;
  background-color: var(--gold-color);

  color: var(--black-color);
  font-size: 20px;

  cursor: pointer;
}

.button--black {
  border: 1px solid var(--gold-color);
  background-color: var(--black-color);
  color: var(--gold-color);
}

.button:hover {
  color: var(--white-color);
}

/** Header */

.header {
  display: flex;
  align-items: center;

  width: 1440px; /*max-width: 1440px;  */
  margin: 0 auto;

  height: 90px;
  padding: 0 20px 0 20px;

  background: url('./assets/img/bg.jpg') center 0 no-repeat;

  font-size: 20px;
}

.header__logo {
  width: 50px;
  height: 50px;
  margin-right: auto;

  background: url('./assets/svg/logo.svg') center no-repeat;

  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header__nav {
  margin-left: auto;
  padding: 0 30px;
  width: 100%;
  max-width: 500px;
}

.nav-list {
  display: flex;

  justify-content: space-between;
  padding: 0;

  list-style-type: none;
}

.header__langs-switcher {
  text-align: right;
  width: 70px;
}

.langs-switcher__separator {
  margin: 0 4px;
}

.langs-switcher__button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;

  text-align: center;
  color: var(--white-color);

  cursor: pointer;

  transition: 0.3s;
}

.langs-switcher__button--active {
  color: var(--gold-color);
  transition: 0.3s;
}

/** Hero **/

.hero-section {
  padding: 186px 80px 0;

  height: 820px;

  background: url('./assets/img/bg.jpg') center -90px no-repeat;
}

.hero-section__title {
  margin: 0;
  padding-bottom: 36px;
  font-size: 3rem;
}

.hero-section__title--margin {
  margin: 0;
}

.hero-section__text {
  width: 470px;
  margin: 0;
  padding-bottom: 25px;

  line-height: 40px;
}

.hero-section__text--margin {
  margin: 0;
}

/** Skills **/

.skills-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 60px;

  width: 100%;
}

.skills-item {
  width: 100%;
  max-width: 320px;
  padding: 100px 20px 8px 20px;
}

.skills-item--photo {
  background: url('./assets/svg/camera.svg') center top no-repeat;
}
.skills-item--video {
  background: url('./assets/svg/video.svg') center top no-repeat;
}
.skills-item--retouch {
  background: url('./assets/svg/image.svg') center top no-repeat;
}
.skills-item--audio {
  background: url('./assets/svg/mic.svg') center top no-repeat;
}

.skills-item__title {
  padding-top: 10px;
  text-align: center;
}

.skills-item__text {
  padding-top: 30px;
}

/** Portfolio **/

.portfolio-section__btn-wrap {
  display: flex;
  justify-content: center;
  gap: 5px;

  padding: 60px 0;
}

.portfolio-section__images-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio-section__image {
  display: block;

  flex: 1 1 450px;

  height: 560px;
}

/** Video **/

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 60px;
}
.video-player__button {
  position: absolute;

  width: 130px;
  height: 130px;

  border-radius: 50%;

  border: none;
  outline: none;
  background: url('./assets/svg/Play_Unvisited.svg') center center no-repeat;

  cursor: pointer;
}

.video-player__button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/** Price **/

.price-list {
  display: flex;
  justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 100px;
}

.price-item {
  height: 505px;
  width: 100%;
  max-width: 450px;
  padding: 51px 0 0 0;

  border: 3px solid var(--gold-color);

  text-align: center;
}

.price-item__title {
  font-size: 1.4rem;
  padding-bottom: 35px;
}

.price-item__sum {
  padding-bottom: 18px;

  font-family: Merriweather, serif;
  color: var(--gold-color);
  font-size: 1.2rem;
  line-height: 48px;
}

.price-item__text-container {
  padding-bottom: 40px;
}

.span--blok {
  display: block;
}
